*{
	margin: 0;
	padding: 0;
}

body{
	background: #222;
	color: #fff;
	font-family: system-ui;
}

.crud{
	width: 80%;
	margin: auto;
}

.head{
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0;
}

input{
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	background: #111;
	margin: 4px 0;
	border-radius: 4px;
	padding: 4px;
	color: white;
	transition: 0.3s;

}

input:focus{
	background: black;
	transform: scale(1.01);
}

.price input{
	width: 20%;
}

#total{
	background: red;
	padding: 5px 2px;
	border-radius: 4px;
}

#total:before{
	content: "Total:"
}

button{
	width: 100%;
	height: 30px;
	border: none;
	cursor: pointer;
	background: Darkblue;
	border-radius: 20px;
	transition: 0.5s;
	color: white;
}

button:Hover{
	background: purple;
	letter-spacing: 1px;
}

.btn-search{ 
	display: flex;
	justify-content: space-between;
}

.btn-search button{
	width: 45%;
}

table{
	width: 100%;
	text-align: center;
	margin: 10px 0;
}

table th{
	text-transform: uppercase;
}

th,td{
	padding: 5px;
}

#deleteall #DeleteAllBtn{
	margin: 10px 0;
	width: 100%;
	height: 30px;
	border: none;
	cursor: pointer;
	background: Darkblue;
	border-radius: 20px;
	transition: 0.5s;
	color: white;
}

#deleteall #DeleteAllBtn:Hover{
	background: purple;
	letter-spacing: 1px;
}